.h6 {
    color: aqua;
}

p {
    color: blue;
    font-weight: 500;
    padding-top: 50px;
    font-size: 25px;
}

table,
th,
td {
    border: 2px solid black;
}

hr {
    border: 1px solid black;
}


/* thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
} */