.h5 {
    color: aqua;
}

p {
    color: blue;
    font-weight: 200;
}

table,
th,
td {
    border: 2px solid black;
}

hr {
    border: 1px solid black;
}


/* responsive mobile  */

@media only screen and (max-width:500px) {
    .row {
        display: block;
        text-align: center;
    }
    .col-3 {
        width: 100%;
    }
    p {
        font-size: 24px;
    }
    .row {
        font-size: 12px;
    }
}